@page "/"

<PageTitle>Cordero Software Solutions</PageTitle>

<div class="text-center">
    <h1>Cordero Software Solutions</h1>

    <img src="CSSLogo.svg" />

    <hr class="m-4" />

    <p class="m-4">Welcome to Cordero Software Solutions</p>

    <p class="m-4">A home for creative, innovative, and fun software applications.</p>
</div>